---
import Layout from "@/layouts/Layout.astro";
import bg from "@/assets/banner-web.png"
---

<Layout
title="Inicio"
subtitle="En EM Labs, somos el epicentro de la innovación y el desarrollo"
bgImage={bg.src}
>
	<h1>Inicio</h1>
</Layout>
