---
import Logo from "@/assets/logo-sin-fondo.svg"
import MainNav from "./MainNav.astro"

interface Props {
    bgImage: string
    subtitle: string
}

const { bgImage } = Astro.props
const { subtitle } = Astro.props
---

<header
    class="min-h-72 relative pb-72"
>
    <div
        class="inset-0 absolute bg-center bg-cover"
        style= {{ backgroundImage: `url(${bgImage})` }}
    ></div>
    <div class="absolute inset-0 bg-white/45"></div>
    <div class="relative max-w-7xl mx-auto pt-10 flex flex-col items-center gap-10 lg:flex-row lg:justify-between">
        <a href="/">
        <Logo class="w-72"/>
        </a>
        <MainNav />


        <h1 >{ subtitle }</h1>
    </div>
</header>