---
const navigation = [
  {name: 'Inicio', href: '/' },
  {name: 'Nosotros', href: '/nosotros/' },
  {name: 'Blog', href: '/blog/' },
  {name: 'Contacto', href: '/contacto/' },
]
---

<nav class="flex flex-col items-center lg:flex-row gap-4">
    {navigation.map (item => 
        <a
            href={item.href}
            class="uppercase text-lg font-bold"
        >{item.name}</a>
    )}
</nav>